version: '3.8'

services:
  movies:
    build:
      context: .
      target: debug
    ports:
      - 5000:5000
      - 5678:5678
    volumes:
      - ./movie_recs:/movie_recs
    environment:
      - FLASK_DEBUG=1
    entrypoint:
      [
        "python",
        "-m",
        "debugpy",
        "--listen",
        "0.0.0.0:5678",
        "-m",
        "flask",
        "run",
        "-h",
        "0.0.0.0",
        "-p",
        "5000"
      ]

  mongo:
    image: mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb:/data/db

volumes:
  mongodb:
